<div class="row mt-2">
    <div class="col-md-12">
        <h1 class="text-center">
            Los últimos indicadores economicos
        </h1>
    </div>
</div>
<div class="row justify-content-evenly">    
    
    <div *ngFor="let indicador of indicadores;index as i" class="col-md-4" >
        <div class="card m-2 animate__bounceIn animate__animated animate__delay-{{i}}s animate__faster ">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header position-relative ">
                        <button class="btn btn-success top-0 position-absolute mt-2" style="right:9px" (click)="getChart(indicador.key, indicador.name)">
                            <i class="fas fa-chart-line"></i>
                        </button>
                        <h4 class=" text-center">
                            {{ indicador.key | uppercase  }} <br>
                        </h4>
                        <p class="text-muted text-center m-0">
                            {{ indicador.name }}
                        </p>
                    </div>

                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h1 class="text-center">
                        {{ indicador.value }}$
                    </h1>
                    <small class="text-muted m-0">
                        Indicador del {{ indicador.date * 1000 | date:'medium' }}
                    </small>
                </li>
            </ul>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <label class="col-md-4 col-sm-12 col-form-label">
                                Buscar valor por fecha
                            </label>
                            <div class="col-md-6 col-sm-12">
                                <input type="date" [(ngModel)]="fecha[i]" valueAsDate class="form-control"> 
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <button class="btn btn-primary" (click)="searchByDate(indicador.key, fecha,i)" >
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal  {{ showChart ? 'd-block ':'' }}"  tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content animate__animated animate__flipInY">
            <div class="modal-header p-0">
                <h5 class="modal-title text-center w-100 my-2" >
                  {{ modalTitle | uppercase}}
                </h5>
                <button type="button" class="btn-transparent btn top-0 position-absolute mt-2" style="right:9px" (click)="closeModal()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="chart-wrapper">
                    <canvas baseChart 
                        [datasets]="lineChartData" 
                        [labels]="lineChartLabels" 
                        [options]="lineChartOptions"
                        [colors]="lineChartColors" 
                        [legend]="lineChartLegend" 
                        [chartType]="lineChartType" 
                        [plugins]="lineChartPlugins">
                    </canvas>
                </div>
            </div>
          </div>
        </div>
      </div>
    
</div>
